.containerFooter {
    margin-top: 200px;
    padding: 50px;
    background: #000;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.content {
    margin: 10px;
    width: 260px;
    height: 250px;
}

.content img {
    margin: 29px 0px 0px 0px;
}

.content ul {
    list-style: none;
    color: #FFF;
    font-family: 'Krub', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content ul li {
    margin: 29px 0px 0px 0px;
}

.content ul li a {
    cursor: pointer;
}

.contentLogo {
    margin: 30px 0px;
    width: 260px;
    height: 40px;
}

/* RESPONSIVIDADE */

@media (max-width: 768px) {
    .content {
        width: 600px;
        float: left;
    }
}

@media(max-width: 1024px) {
    .content {
        width: 900px;
    }

    .contentLogo {
        width: 900px;
    }
}


